<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="loginModalLabel"><i class="fa-solid fa-key"> Log in</i></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<h5 class="text-center mt-3">RESTRICTED ACCESS</h5>
			<form method="POST" action="/login_user">
				<div class="modal-body">
					{% csrf_token %}
					<div class="input-group my-3">
						<span class="btn input-group-text border-secondary bg-light side-label">
							<i class="fa-solid fa-user"></i>
						</span>
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<div class="input-group">
						<span class="btn input-group-text border-secondary bg-light side-label">
							<i class="fa-solid fa-lock"></i>
						</span>
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
				</div>

				<div class="container d-grid gap-2 my-4">
					<button type="submit" class="btn btn-primary">Login</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>