{% extends 'base.html' %}
{% load static %}
{% block content %}

<p class="work-title">{{ work.siteName }}</p>
<p>{{ work.siteDesc }}</p>

{% if work.youtube %}
<center>
	<div id="ytplayer"></div>
</center>
{% endif %}

<div class="work-img-container">
	{% for i in image %}
	<img class="work-img" src="{{ i.image.url }}" style="height: 280;">
	{% endfor %}
</div>

<script>
	const url = window.location.href

	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	var player;
	function onYouTubePlayerAPIReady() {
		player = new YT.Player('ytplayer', {
			height: '540',
			width: '960',
			events: {
				'onReady': onPlayerReady,
			}
		});
	}

	function onPlayerReady(event) {
		player.loadVideoById({
			'videoId': '{{ work.youtube }}',
		});
	}
</script>

{% endblock content %}